.partialsLoading {
	background: url(../../images/loading.gif) no-repeat;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
	height: 50px;
	width: 200px;
	box-shadow: 0px 0px 8px 10000px rgba(0,0,0,0.75);
	margin-left: -100px;
	margin-top: -25px;
	background-size: 200px 50px;
}

.content_partial {
	clear: both;
}
